<div class="footer">
  <div class="footer__wrapper">
    <a routerLink="/routes" routerLinkActive="active" class="footer__item">
      <img src="/assets/icons/footer/routes.svg" alt="" class="footer_icon">
      <span class="icon_title">Routes</span>
    </a>

    <a routerLink="/profile" routerLinkActive="active" class="footer__item">
      <img src="/assets/icons/footer/profile.svg" alt="" class="footer_icon">
      <span class="icon_title">Profile</span>
    </a>

    <a routerLink="/planing" routerLinkActive="active" class="footer__item">
      <img src="/assets/icons/footer/planing.svg" alt="" class="footer_icon">
      <span class="icon_title">Planing</span>
    </a>

    <a routerLink="/places" routerLinkActive="active" class="footer__item">
      <img src="/assets/icons/footer/places.svg" alt="" class="footer_icon">
      <span class="icon_title">Places</span>
    </a>
  </div>
</div>
