<div class="profile_page">
  <app-profile-user-card></app-profile-user-card>

  <div class="card">
    <div class="card__heading">
      <h2 class="card__title">Travel History</h2>
      <p class="card__subtitle">Click to see details</p>
    </div>

    <div class="card__body">
      <div class="history" *ngIf="travel_histories">
        <a [routerLink]="'/travel/'+travel.id" class="history_card" *ngFor="let travel of travel_histories">
          <h2 class="title">{{ travel.title }}</h2>
          <p class="difficulty">{{ travel.created_at }}</p>
        </a>
      </div>
      <div *ngIf="loading_travel_history">
        <div class="text-center text-xl font-bold">Loading...</div>
      </div>
      <div *ngIf="!travel_histories && !loading_travel_history">
        <p class="text-center text-xl font-bold">No travels</p>
      </div>
    </div>
  </div>
</div>
