<div class="profile_page">
  <div class="card">
    <div class="card__heading">
      <img [src]="user.profile_photo_path" [alt]="user.name + 'avatar'" class="avatar">

      <div class="heading__info">
        <h2 class="username">{{ user.name }}</h2>
<!--        <p class="registered_at">Since {{ date }}</p>-->
      </div>
    </div>

<!--    <div class="card_body">-->
<!--      <h2 class="location">Current location: {{ location }}</h2>-->
<!--    </div>-->
  </div>

<!--  <div class="card">-->
<!--    <div class="card__heading">-->
<!--      <h2 class="heading">Travel History</h2>-->
<!--    </div>-->

<!--    <div class="card_body">-->
<!--      <div class="history" *ngFor="let travel in travel_histories">-->
<!--        <a [routerLink]="'/travel/'+travel.id" class="history_card">-->
<!--          <h2 class="title">{{ travel.title }}</h2>-->
<!--          <p class="difficulty">{{ travel.created_at }}</p>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
