.profile_page {
  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 30px 25px;

    border-radius: 10px;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    margin-bottom: 50px;

    transition: all 0.3s ease-in-out;

    .card__heading {
      width: 100%;
      text-align: center;

      margin-bottom: 30px;

      .card__title {
        font-size: 24px;
        font-weight: 700;
        color: #253158;
      }
    }

    .card__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      padding-left: 15px;
      padding-right: 15px;

      .history {
        width: 100%;

        .history_card {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          width: 100%;

          padding: 15px 20px;

          margin-bottom: 30px;
          border-radius: 5px;

          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

          transition: all 0.3s ease-in-out;

          cursor: pointer;

          &:hover {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
          }

          @media screen and (max-width: 420px) {
            flex-direction: column;
          }

          .title {
            font-size: 18px;
            font-weight: 700;
            color: #253158;
          }

          .difficulty {
            font-size: 18px;
            font-weight: 700;
            color: #253158;
          }
        }
      }
    }
  }
}
