.page {
  display: flex;
  flex-direction: column;

  .travel_info {
    display: flex;
    flex-direction: column;
    align-items: start;

    .label {
      font-size: 18px;
      font-weight: 700;

      text-transform: uppercase;
    }

    hr {
      width: 100%;
      border: 1px solid #253158;

      margin-top: 20px;
      margin-bottom: 20px;
    }

    .info__container {
      width: 100%;

      .title {
        font-size: 22px;
      }

      .comments {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;

        .comment {
          display: flex;
          flex-direction: row;
          align-items: center;

          width: 100%;

          margin-top: 15px;

          @media screen and (max-width: 325px) {
            flex-direction: column;
            align-items: start;
          }

          .avatar {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 60px;
            height: 60px;

            margin-right: 10px;

            @media screen and (max-width: 325px) {
              margin-right: 0;
              margin-bottom: 10px;
            }

            .image {
              border-radius: 50%;
              border: 1px solid #253158;

              object-fit: cover;
            }
          }

          .content {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;

            .heading {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              width: 100%;

              font-weight: 700;

              @media screen and (max-width: 325px) {
                flex-direction: column;
                align-items: start;
              }
            }
          }
        }
      }
    }
  }
}
