.weather_page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    width: 100%;

    .name-search {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;

      .name-search__title {
        font-size: 20px;
        font-weight: 700;

        text-align: center;
      }

      .search-input {
        width: 100%;
        margin-top: 10px;
        color: #253158;
        font-weight: 600;

        border-bottom: 2px solid #253158;

        &:focus {
          outline: none;
        }
      }
    }

    .coordinates-search {
      .coordinates-search__title {
        font-size: 20px;
        font-weight: 700;

        text-align: center;
      }

      .fields-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        margin-bottom: 40px;

        .input-field {
          display: flex;
          flex-direction: row;
          align-items: center;

          margin-bottom: 20px;

          .input-field__title {
            font-size: 16px;
            font-weight: 700;

            text-align: right;
            clear: both;
            float: left;

            margin-right: 15px;
          }

          .search-input {
            color: #253158;
            font-weight: 600;

            width: 100%;

            border-bottom: 2px solid #253158;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    .time_format {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 20px;


      .input-field {
        display: flex;
        flex-direction: row;
        align-items: center;

        .checkbox {
          width: 18px;
          height: 18px;

          margin-right: 10px;
        }
      }
    }
  }
}
