<div class="weather_page">
  <app-weather-search-heading
    class="w-full"
    (changeHoursToDisplayEvent)="changeHoursToDisplay($event)"
    (forecastEvent)="showForecast($event)"
  ></app-weather-search-heading>

  <div class="page-content">
    <div class="content__title">{{ hoursToDisplay }} hours</div>

    <div class="forecast" *ngIf="filteredForecast">
      <div class="forecast_container" *ngFor="let container of filteredForecast">
        <div class="cells">
          <div class="container_cell">
            <img src="assets/icons/time.svg" alt="weather icon">
            <span>{{ formatDate(container.date) }}</span>
          </div>

          <div class="container_cell">
            <img src="assets/icons/weather.svg" alt="weather icon">
            <span>{{ container.weather }}</span>
          </div>

          <div class="container_cell">
            <img src="assets/icons/wind.svg" alt="wind icon">
            <span>{{ container.wind_speed }} m/s</span>
          </div>

          <div class="container_cell">
            <img src="assets/icons/temperature.svg" alt="temperature icon">
            <span>{{ container.temp }} °C</span>
          </div>
        </div>
      </div >
    </div>
    <div *ngIf="!forecast" class="font-bold text-xl">No any data now</div>

    <app-weather-pagination *ngIf="filteredForecast" [hoursToDisplay]="hoursToDisplay" (changePageEvent)="changedPage($event)"></app-weather-pagination>
  </div>
</div>
