<div class="card">
  <h1 class="card__title">{{ title }}</h1>
  <p class="card__error">{{ error }}</p>

  <div class="card__fields">
    <div class="field_wrapper">
      <input type="text"
             class="card__input"
             id="email"
             name="email"
             placeholder="Email"
             #email
             (keyup)="emailChange(email.value)">
    </div>

    <div class="field_wrapper">
      <input type="text"
             class="card__input"
             id="name"
             name="name"
             placeholder="Name"
             #name
             (keyup)="nameChange(name.value)">
    </div>

    <div class="field_wrapper">
      <input type="password"
             class="card__input"
             id="password"
             name="password"
             placeholder="Password"
             #password
             (keyup)="passwordChange(password.value)"
      >
    </div>

    <div class="field_wrapper">
      <input type="password"
             class="card__input"
             id="password_confirm"
             name="password_confirm"
             placeholder="Password confirmation"
             #password_confirmation
             (keyup)="passwordConfirmationChange(password_confirmation.value)"
      >
    </div>


    <div class="checkbox_wrapper mx-auto">
      <label for="privacy_policy" class="cursor-pointer">
        I agree to <a routerLink="/privacy" class="underline">Privacy policy</a> and <a routerLink="/terms" class="underline">Terms of use</a>
      </label>
      <input type="checkbox"
             class="checkbox"
             id="privacy_policy"
             name="privacy_policy"
             required
             #privacy_policy
             (change)="privacyPolicyChange(privacy_policy.checked)"
      >
    </div>
 </div>

  <a routerLink="/login"
     class="text-gray-500 underline transition duration-500 hover:text-gray-800 mb-2"
  >
    Already have an account?
  </a>

  <button type="submit" class="btn btn-primary" (click)="register()">Continue</button>
</div>
