<div class="card">
  <h1 class="card__title">{{ title }}</h1>


  <div class="card__fields">
    <div class="field_wrapper">
      <label for="email">Email: </label>
      <input type="text" class="card__input" id="email" name="email" placeholder="email">
    </div>

    <div class="field_wrapper">
      <label for="name">Name: </label>
      <input type="text" class="card__input" id="name" name="name" placeholder="name">
    </div>

    <div class="field_wrapper">
      <label for="password">Password: </label>
      <input type="text" class="card__input" id="password" name="password" placeholder="password">
    </div>

    <div class="field_wrapper">
      <label for="password_confirm">Password: </label>
      <input type="text" class="card__input" id="password_confirm" name="password_confirm" placeholder="password confirmation">
    </div>


    <div class="checkbox_wrapper mx-auto">
      <label for="remember_me" class="cursor-pointer">
        I agree to <a routerLink="/privacy" class="underline">Privacy policy</a> and <a routerLink="/terms" class="underline">Terms of use</a>
      </label>
      <input type="checkbox" class="checkbox" id="remember_me" name="remember_me" required>
    </div>
 </div>

  <a routerLink="/login"
     class="text-gray-500 underline transition duration-500 hover:text-gray-800 mb-2"
  >
    Already have an account?
  </a>

  <button type="submit" class="btn btn-primary">Continue</button>
</div>
