.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;

  .page {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #253158;
    font-weight: 700;

    border: 1px solid #253158;
    border-radius: 5px;

    width: 30px;
    height: 30px;

    margin-right: 25px;

    transition: all 0.3s ease-in-out;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
      background-color: #253158;
      color: #fff;
    }
  }

  .active {
    background-color: #253158;
    color: #fff;
  }
}
